<html>

    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        
        

        <link rel="stylesheet" type="text/css" href="{% static 'clubSetup/style.css' %}"/>
                
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/2.2.1/pretty.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        
        
        
        <title>Campion College Club Setup Form</title>
    </head>
    
    <body>
        <div class="container-fluid">
        
            <div class="jumbotron">
            
                <center><h2>Campion College Club Management System</h2></center>
                <h2><small>Club Registration Form</small></h2>
            </div>
            
            <div class="container-fluid" id="AttrList">
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Club Name : </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.name}}</h4>
                    </div>
                
                </div>
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Club Purpose : </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.purpose}}</h4>
                    </div>
                
                </div>
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Club Motto : </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.motto}}</h4>
                    </div>
                
                </div>
                
                
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Club Faculty Advisor : </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.facultyAdvisor}}</h4>
                    </div>
                
                </div>
                
                
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Club is Sports Club: </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.isSportsClub}}</h4>
                    </div>
                
                </div>
                
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Income $: </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.income}}</h4>
                    </div>
                
                </div>
                
                <div class="row">
                
                    <div class="col-sm-6">
                        <h4>Day club is held: </h4>
                    </div>
                    
                    <div ckass="col-sm-6">
                        <h4>{{club.day}}</h4>
                    </div>
                
                </div>
                                
  
                
            </div>
            
        </div>
    </body>
</html>