<html>

    <head>
        {% load staticfiles %}
        {% load index %}
        {% load add %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        
        

        <link rel="stylesheet" type="text/css" href="{% static 'clubSetup/style.css' %}"/>
        
        
        <title>Campion College Club Setup Form</title>
    </head>
    
    <body>
        <div class="container-fluid">
        
            <div class="jumbotron">
            
                <center><h2>Campion College Club Management System</h2></center>
                <h2><small>Club Registration Form</small></h2>
                
            
            </div>
            <div class="container-fluid" id="FormBody">
                
                
                <center><h1> Thank you! Your form has been received!</h1></center>
                <center><h3> Your club has now been registered! </h3></center>
                
                
                <!--Date Testing below. To be continued
                <center><h3> The days of your club meetings are shown below</h3></center>
                <div class="container">
              ` <div class="row">
                {% for month in dayList %}
                    
                         
                        <div class="col-sm-3">
                        {% with outer=forloop.counter%}

                            {% for day in month %}
                            
                                    
                                    {%add startMonth outer as result%}
                                    {%add result -2 as result%}

                                    <h6>{{clubDay}} {{day}} of {{monthList|index:result}}</h6>

                   
                            

                            {% endfor %}
                        
                        {% endwith %}
                        </div>
                
                
                    
                    
                {% endfor %}
                    </div>
                </div>
                
                {%for date in dateList%}
                    <h1>{{clubDay}} {{date}}</h1>
                {%endfor%}
                
            -->
                
            </div>
            
        </div>
            
    </body>
</html>